<div class="main-content">

  <h1 matSubheader><img id="etoile" src="https://media.discordapp.net/attachments/757219550663147592/769167745320484944/etoile.png?width=668&height=670">Commencez votre scoring now !</h1>
  <h3>Nos recommandations</h3>

  <div aria-label="gallery">
    <ul>
      <li *ngFor="let suggestion of tabSuggestion">
        <img routerLink="/video/{{suggestion.idVideo}}" src="{{suggestion.poster}}"><button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        </button>
      </li>
    </ul>
  </div>
  <h3 class="titreRecherche">Lancer vos recherches perso</h3>
  <div class="boutonRecherche">
    <button (click)="afficherRapide()" mat-stroked-button id="button_left">Recherche rapide</button>
    <button (click)="afficherAvance()" mat-stroked-button>Recherche avancée</button>
  </div>
  <div *ngIf="isRechercheRapide" class="rechercheRapide">
    <div class="input-field col s8 nopad">
      <form (submit)="rechercheRapide()" [formGroup]="rechercheRapideForm">
        <input class="form-control" matInput placeholder="Chercher votre film" formControlName="recherche">
        <button type="submit" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </div>
  <!--<div *ngIf="isRechercheAvance" class="rechercheAvance">
    <form (submit)="rechercheAvancee()" [formGroup]="rechercheAvanceeForm">
      <h3>Quel type de vidéo ?</h3>
      <mat-radio-group [value]="film_value" [(ngModel)]="film_value" formControlName="film_value">
        <mat-radio-button value="film">Film</mat-radio-button>
        <mat-radio-button value="serie">Série</mat-radio-button>
        <mat-radio-button value="both">Les 2</mat-radio-button>
      </mat-radio-group>
      <h3 style="padding-top: 50px; padding-bottom: 20px;">Combien de temps avez vous ?</h3>
      <mat-slider class="example-margin"
                  [displayWith]="formatLabel"
                  [disabled]=false
                  [invert]=false
                  [max]=180
                  [min]=0
                  [step]=15
                  [thumbLabel]=true
                  [tickInterval]=15
                  [(ngModel)]="slider_value"
                  [vertical]=false
                  formControlName="slider_value">
      </mat-slider>
      <div style="padding-top: 50px;">
        <button type="submit" mat-stroked-button>Lancer la recherche</button>
      </div>
    </form>
  </div>-->

 

  <div *ngIf="isRechercheAvance" class="rechercheAvance">
    <form [formGroup]="shippingForm" #myButton>
      <h3>Quel type de vidéo ?</h3>
      <mat-radio-group formControlName="signatureReq" (change)="changeRadioValue()">
        <mat-radio-button [value]="'movie'">Film</mat-radio-button>
        <mat-radio-button [value]="'series'">Série</mat-radio-button>
        <mat-radio-button [value]="'both'">Les 2</mat-radio-button>
      </mat-radio-group>
    </form>
  </div>

  <div *ngIf="language" class="rechercheAvance">
    <form [formGroup]="shipping" #myLanguage>
      <h3>En quel langage souhaitez-vous voir ?</h3>
      <mat-radio-group formControlName="signature" (change)="changeLanguageValue()">
        <mat-radio-button [value]="'v'">Version dans votre langue</mat-radio-button>
        <mat-radio-button [value]="'vo'">Version originale</mat-radio-button>
        <mat-radio-button [value]="'both'">Peu importe</mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
  <div *ngIf="Categorie">

    <form [formGroup]="CategorieForm" #myCategorie formControlName="juju" (submit)="SubmitCategorie()" #myCategorie>
      <h3> Quels catégories ?</h3>
      <li *ngFor="let categorie of listeCategorieTest">
        <label>
          <input type="checkbox" [value]="categorie.id_categ" (change)="onCheckboxChange($event)" />
          {{categorie.libelle}}
        </label>
      </li>

      <button mat-stroked-button class="boutonRecherche">Soumettre ces catégories</button>

    </form>
  </div>




  <div *ngIf="vo">
    hey

    <!--<form [formGroup]="CategorieForm" #myCategorie formControlName="juju" (submit)="SubmitCategorie()" #myCategorie>
      <h3> Quels catégories ?</h3>

      <li *ngFor="let categorie of tabCategories">
        <label>
          <input type="checkbox" [value]="categorie.id_categ" (change)="onCheckboxChange($event)" />
          {{categorie.libelle}}
        </label>
      </li>

      <button mat-stroked-button class="boutonRecherche">Soumettre ces catégories</button>

    </form>-->
  </div>








</div>


