<div class="qsn">
  <h1>Qui sommes-nous ? </h1>
  <hr />

  <div class="presentation">
    <img src="https://media.discordapp.net/attachments/755462909911629907/758576848434102283/logo_quiSommesNous.PNG">
    <p class="titre">Un projet dans le cadre universitaire...</p>
    <p class="paragraphe">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
    <p class="titre">Et ses 6 supers membres...</p>

    <div class="equipe">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon>more_vert</mat-icon>
        <mat-card-title>MR. X</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon>more_vert</mat-icon>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MR. X</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon>more_vert</mat-icon>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MR. X</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <!--
    <div class="content" fxLayout="row wrap" fxLayoutGap="100px grid">
      <div [fxFlex]="(100/1) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let member of members">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{member.nom}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="images_petit" />
          <mat-card-content>
            <p>
              Développeur {{member.langage}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    -->
  </div>

  <h3>Mentions légales</h3>
</div>
<app-footer></app-footer>
