.m-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  flex: 1 0 auto;
}

img {
    width: 20%;
}

.mat-raised-button {
  background-color: rgb(42, 61, 102) ;
}

button {
    width: 25%;
}

.subscribe {
  margin-top: 1%;
}
