.footer {
  width: 100%;
  height: 2rem;
  flex-shrink: 0;
}

img{
  width: 46px;
  position: relative;
}

.reseau-sociaux{
  margin-left: auto;
  margin-right: auto;
}

.example-spacer {
  width: 100%;
}

.example-spacer > a{
  text-decoration:none;
  font-size:14px;
  color:white;
  width:33.33%;
  text-align: center;
  display: inline-block;
  margin-right: -0.25em;;
}

.mat-toolbar{
  background-color: rgb(92,84,164);
  position: absolute;
  bottom: 0%;
}

@media (max-width: 600px) {
  .footer {
    display: none;
  }
}
