.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}

img{
  width: 30px;
  position: relative;
}

.example-spacer {
  flex: 1 1 auto;
  font-size: 14px;
}

.example-spacer > a{
  text-decoration:none;
  color:white;
}

@media (max-width: 500px) {
  .footer {
    display: none;
  }
}
