<div class="footer">

  <mat-toolbar style="min-height:80px" color="primary">
    <mat-toolbar-row style="padding: 0;  margin:0;">

      <span class="example-spacer" ><a routerLink="/quisommesnous"> QUI SOMMES-NOUS ? </a></span>
      <span class="example-spacer">SUIVEZ-NOUS</span>
      <span class="example-spacer"><a routerLink="/faq">FAQ</a></span>
    </mat-toolbar-row>
    <mat-toolbar-row style="padding: 0; margin:0;">
      <a routerLink="/faq"><img src="https://media.discordapp.net/attachments/755462909911629907/757988245790261479/353422-facebook-logo_107496.png"></a>
      <a routerLink="/faq"><img src="https://media.discordapp.net/attachments/755462909911629907/757988250110525550/Youtube_Rounded_Solid_icon-icons.com_61558.png"></a>
      <a routerLink="/faq"><img src="https://media.discordapp.net/attachments/755462909911629907/757988254971592754/353425-linkedin-logo_107480.png"></a>
      <a routerLink="/faq"><img src=" https://media.discordapp.net/attachments/755462909911629907/757988258440544338/353424-instagram-logo_107474.png"></a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
