<mat-toolbar color="primary" *ngIf="nav.visible">

    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <span class="menu-spacer"></span>
      <button class="md-raised" mat-button [routerLink]="'/'" (click)="sidenav.close()">
        <h2>What The Film</h2>
      </button>
      <span class="example-spacer"></span>
      <button (click)="logout()" mat-raised-button color="warn">Déconnexion</button>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container class="body_content">
  <mat-sidenav class="side_nav" #sidenav [autoFocus]="false">
    <mat-nav-list>
      <br>
      <button mat-button>
        <h3 matSubheader (click)='sidenav.close()' [routerLink]="'/monprofil'"><img src="https://cdn.discordapp.com/attachments/755462909911629907/766182890605772820/icon_Profil.png">Mon profil</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader (click)='sidenav.close()' [routerLink]="'/meshistoriques'"><img src="https://cdn.discordapp.com/attachments/755462909911629907/766182864449962014/icon_History.png">Mes historiques</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader (click)='sidenav.close()' [routerLink]="'/mesfavoris'"><img src="https://cdn.discordapp.com/attachments/755462909911629907/766182885501698048/icon_Star.png">Mes favoris</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader (click)='sidenav.close()'[routerLink]="'/faq'"><img src="https://cdn.discordapp.com/attachments/755462909911629907/766182874805305344/icon_Aide.png">Besoin d'aide</h3>
      </button>
      <br />
      <button mat-button>
        <h3 style="color:rgb(231,28,2)" matSubheader (click)='sidenav.close()' [routerLink]="'/connexion'"><img src="https://cdn.discordapp.com/attachments/755462909911629907/766182897773182986/icon_Deconnexion.png">Déconnexion</h3>
      </button>
      <br />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height:88vh;">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


