<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <span class="menu-spacer"></span>
      <button class="md-raised" mat-button [routerLink]="'/'" (click)="sidenav.close()">
        <h2>What The Film</h2>
      </button>
      <span class="example-spacer"></span>
        <button mat-raised-button color="warn">Déconnexion</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="body_content">
    <mat-sidenav #sidenav [autoFocus]="false">
      <mat-nav-list>
        <h3 matSubheader>Division d'un menu</h3>
        <a mat-list-item (click)='sidenav.close()'>
          <mat-icon mat-list-icon color="primary">videocam</mat-icon> Mon premier menu
        </a>
        <br /><mat-divider></mat-divider>
        <h3 matSubheader>Autres</h3>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height:88vh;">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>