<mat-toolbar color="primary" *ngIf="nav.visible">

    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <span class="menu-spacer"></span>
      <button class="md-raised" mat-button [routerLink]="'/'" (click)="sidenav.close()">
        <h2>What The Film</h2>
      </button>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn">Déconnexion</button>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container class="body_content">
  <mat-sidenav #sidenav [autoFocus]="false">
    <mat-nav-list>
      <h3 matSubheader>Division d'un menu</h3>
      <mat-divider></mat-divider>
      <!--<a routerLink="/profil" mat-list-item (click)='sidenav.close()'>
    <mat-icon mat-list-icon color="primary">account_circle</mat-icon> Mon Profil
  </a>-->
      <button mat-button>
        <h3 matSubheader [routerLink]="'/monprofil'">Mon profil</h3>
      </button>
      <br />
      <button mat-button>

        <h3 matSubheader [routerLink]="'/meshistoriques'">Mes historiques</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader [routerLink]="'/mesfavoris'">Mes favoris</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader [routerLink]="'/besoinaide'">Besoin d'aide</h3>
      </button>
      <br />
      <button mat-button>
        <h3 matSubheader [routerLink]="'/connexion'">Déconnexion</h3>
      </button>
      <br />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height:88vh;">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


