<div class="main-content">
  <button class="return" (click)="goBack()" mat-stroked-button><mat-icon>arrow_left_alt</mat-icon>Retour</button>
  <section class="container" style="padding-top: 3%;">
    <div style="width: 22%; height: 80%; float:left;">
      <div class="d" style="position: relative; text-align: center;">
        <img src="http://image.tmdb.org/t/p/w780/{{serie?.poster}}">
       </div>
       <div style="position: relative; text-align: center; margin-top: 10px;">
        <button [id]="'fav_' + serie?.id_serie " (click)="addFav(serie.id_serie)"  mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <div *ngIf="isTrailer"
      style="position: relative; text-align: center; margin-top: 30px;">
        <button class="button" mat-stroked-button (click)="redirectUrl(serie.trailer)">Watch the Trailer</button>
      </div>
      <div style="position: relative; text-align: center; margin-top: 16px;">
        <button class="button" mat-stroked-button (click)="showHide()">SCORE !</button>
        <div [id]="serie?.id_serie" [hidden]="starVisible" style= "margin-top:20px">
          <p-rating [iconOnStyle]="{'color':'rgb(93,84,164)'}" [(ngModel)]="ratingValue" [cancel]="false" (onRate)="postRate($event, serie)"></p-rating>
        </div>
      </div>
    </div>
    <div style="width: 4%; height: 80%; float:left;"></div>
    <div style="width: 75%; height: 80%; float:right;">
    <h1> {{serie?.titre | uppercase}} ({{serie?.date_sortie | date:'yyyy'}})</h1>
      <div class="vignette">
        <button class="button" mat-stroked-button disabled>SERIE</button>
      </div>
      <p></p>
      <p><span class="purple">Nombre de saisons :</span> {{serie?.nb_saison}}</p>


      -- Julie (il faut que Vinh vérifie) --



      <ul>
        <li *ngFor="let item of serie?.saisons">
          <a id="link" href="serie/{{serie?.id_serie}}/{{item.num_saison}}" ng-click="value = 1"> {{item.nom}} </a>
        </li>
      </ul>




      <p><span class="purple">Nombre d'episodes :</span> 31</p>
      <p><span class="purple">Date de sortie :</span> {{serie?.date_sortie | date:'d/M/yyyy'}}</p>
      <p><span class="purple">Langue original : </span>{{serie?.vo}}</p>
      <p><span class="purple">Catégorie : </span><span *ngFor="let categorie of serie?.categories"> {{categorie.libelle}}<span *ngIf="categorie != serie?.categories[serie.categories.length - 1]">,</span></span></p>
      <p><span class="purple">Société de production : </span><span *ngFor="let prod of serie?.productions"> {{prod.nom}}<span *ngIf="prod != serie?.productions[serie.productions.length - 1]">,</span></span></p>
      <p><span class="purple">Réalisateur: </span> En production</p>
      <p><span class="purple">Stars : </span><span *ngFor="let acteur of serie?.acteurs"> {{acteur.prenom}} {{acteur.nom}} <span *ngIf="acteur != serie?.acteurs[serie.acteurs.length - 1]">,</span></span></p>
      <p><span class="purple">Synopsis : </span>{{serie?.plot}}</p>
      <p style="margin-top: 3%">
        <ul class="cards">
          <li class="cards_item" *ngFor="let plateforme of serie?.plateformes">
            <div class="card">
              <div class="card_content">
                <button (click)="redirectUrl(plateforme.redirection)" mat-stroked-button>
                  <img src="{{plateforme?.logo}}">
                </button>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <div style="width: 100%; height: 1%; clear:both"></div>
  </section>
</div>
