<div class="faq">
<h1 class="gros-Titre">Foire aux Questions (FAQ)</h1>
<hr>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        A quoi sert WhatTheFilm ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Combien coûte What The Film ?
      </h2>
    </mat-expansion-panel-header>
    <p>Ahaha c'est gratuit trop bien</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        J'ai oublié mon mot de passe/identifiant, que faire ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment retrpuver ses films recommandés ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Combien de temps sont conservées mes données (films recommandés) ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Puis-je changer des informations sur mon compte ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment regarder ses films recommandés ? 
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment puis-je m'inscire sur WhatTheFilm
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment supprimer son compte ? 
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Puis-je changer des informations sur mon compte ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Comment trouver des films à recommander ? 
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="disable_ripple">
      <h2>
        Qui sont les fondateurs du projet ?
      </h2>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
    <mat-action-row>
      <a routerLink="/quisommesnous">En savoir plus sur les fondateurs</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
  </div>
<app-footer></app-footer>
