<div class="faq">
<mat-accordion>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 1 : What The Film c'est quoi ?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 2 : Combien coûte What The Film ?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>Ahaha c'est gratuit trop bien</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 3 :
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 3 :
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel >
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 3 :
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 3 :
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question 4 : Qui sont les fondateurs du projet ?
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
  <mat-action-row>
    <button mat-button>En savoir plus sur les fondateurs</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
  </div>
<app-footer></app-footer>
