.main-content {
  padding-bottom: 20%;
  padding-top: 3%;
  background-color: white;
  color: black;
}

p {
  font-family: Lato;
}





h1 {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 26px;
  color: rgb(93,84,164);
  text-align: center;
  width: 60%;
}

h3 {
  font-size: 22px;
  color: rgb(93,84,164);
  margin-left: auto;
  margin-right: auto;
}

[aria-label="gallery"] {
  margin-left: auto;
  margin-right: auto;
  width: 62%;
}

  [aria-label="gallery"] img {
    height: 240px;
    width: 180px;
  }

ul {
  list-style: none;
}

div#bloc1 {
  float: left;
  width: 200px;
}

div#bloc2 {
  margin-left: 28%;
  padding-top: 10px;
  color: rgb(93,84,164);
  margin-bottom: 20px;
}

#film {
  font-size: 24px;
}

#genre {
  font-size: 16px;
  margin-bottom: 100px;
}

#button_left {
  margin-right: 2%;
}

.mat-stroked-button {
  border: rgb(93,84,164) solid;
  border-radius: 8px;
  color: rgb(93,84,164);
  padding: 0px 20px;
}

.boutonRecherche > .mat-stroked-button {
  border: rgb(93,84,164) solid;
  background-color: rgb(93,84,164);
  border-radius: 8px;
  color: white;
}

.mat-icon-button {
  background-color: rgb(93,84,164);
  color: white;
}


.boutonRecherche {
  padding-bottom: 80px;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 