<div class="main-content">
  <h1 matSubheader>Mes favoris : </h1>
  <button [routerLink]="'/main'" mat-stroked-button><mat-icon>arrow_left_alt</mat-icon>Page d'accueil</button>
  <div aria-label="gallery">
    <ul>
      <li *ngFor="let item of tabMesFavoris">
        <div class="blocFilm">
          <div id="bloc1">
            <img src="{{item.poster}}">
          </div>
          <div id="bloc2">
            <p id="film">{{item.titre}} ({{item.date_sortie | date:'yyyy'}})</p>
            <p id="genre">{{item.vo}}</p>
            <div class="boutonRecherche">
              <button id="button_left" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button routerLink="/movie/{{item.id_video}}" mat-stroked-button id="button_left">Détails</button>
              <button  mat-stroked-button (click)="showHide(item.id_video)">Scorez !</button>

              <div [id]="item.id_video" style="visibility: hidden; margin:30px">
                <!-- <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)"></star-rating> -->
                <p-rating [(ngModel)]="ratingValue" [cancel]="false" (onRate)="postRate($event, item)"></p-rating>

              </div>
               <!-- <div  *ngIf="item.id_video" > haha</div>

               Toggle Show/hide:
               <div [style.visibility]="toggleShowHide(item.id_video)">
                  Final Release Angular 2!
               </div> -->
               <!-- <div id='item.id_video.modRef' *ngIf="item.id_video.visible">my div</div>
               <button (click)='showHide(item.id_video)'></button> -->


            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

