###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/.preload.php
/vendor/
###< symfony/framework-bundle ###


/build/
/composer.phar
/vendor/
/web/bundles/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
/phpunit.xml

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
