.main-content{
  padding-bottom: 20%;
  padding-top: 3%;
  padding-left:14%;
  padding-right:5%;
  background-color: white;
  color:black;
}

.left {
  width: 30%;
  height: 300px;
  background: red;
}

.right {
  height: auto;
  background: yellow;
}

img {
  max-height: 300px;
}

p {
  font-size: 20px;
}
h1{
  display: inline-block;
  padding-bottom: 40px;
  font-size : 30px;
  color : rgb(93,84,164);
  width: 60%;
  font-weight: 500;
}


.button {
  border: white solid;
  width: 74%;
  background-color: rgb(93,84,164);
  border-radius: 12px;
  color: white;
  padding: 0px 10px;
}



.return {
  border: rgb(93,84,164) solid;
  border-radius: 8px;
  color: rgb(93,84,164);
  padding: 0px 20px;
}

.mat-icon-button {
  background-color: rgb(93,84,164);
  color: white;
}
